extends layout

block content
  h1= title
  p Welcome to #{title}
  div.container
    a(href='http://127.0.0.1:3000/twitter', class='btn btn-block btn-info') Twitter
    a(href='http://127.0.0.1:3000/news', class='btn btn-block btn-info') News
