extends layout

block content
  h1= title
  div.container
    each item in news
      div(class="panel panel-info")
        div(class="panel-heading")
          h3(class="panel-title")= item.title
        div(class="panel-body")
          p= item.date
          p= item.text
